* { box-sizing: border-box; }
body {
  font: 16px Arial;
}

header {
  background-image: linear-gradient(to right, blue, rgb(5, 5, 46));
}

.side-by-side {
  display: flex;
  justify-content: space-around;
}

hr {
  
  margin-top: 25px;
  border-top: solid gray 3px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#info-display-area {
  width: 60%
}

.forecast-card {
  display: inline-block;
  margin-top: 25px;
  margin-right: 10px;
  width: 17%;
  height: auto;
  background-color: darkblue;
  color: white;
  font-weight: bold;
}

#search-button {
  margin-top: 15px;
  background-color: rgb(34, 154, 194);
  color: white;
  border: none;
}

.over-under {
  display: flex;
  flex-direction: column;

}

.history-button {
  width: 100%;
  margin-top: 10px;
}

.uvfavorable {
  background-color: green;
}

.uvmoderate {
  background-color: yellow;
}

.uvsever {
  background-color: red;
}